@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/graphik/Graphik-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/graphik/Graphik-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'Graphik';
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/graphik/Graphik-Bold.otf") format("opentype");
}

// BREAKPOINTS
$desktop-width: 960px;

// COLOURS
$green: #62DEBD;
$active-green: #4BBE9F;
$text: #000;
$red: #B22304;

html {
	margin: 0;
	padding: 0;
	body {
		margin: 0;
		padding: 0;
		padding-bottom: 10px;
		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
		color: $text;
		font-family: 'Graphik', sans-serif;
		h3 {
			font-weight: 700;
			font-size: 20px;
			margin: 6px 0 20px 0;
			letter-spacing: 1%;
			@media all and (min-width: $desktop-width) {
				font-size: 24px;
			}
		}
		p, label {
			font-size: 16px;
			line-height: 26px;
			font-weight: 700;
		}
		p {
			margin-top: 0;
			margin-bottom: 37px;
		}
		label {
			margin-top: 16px;
			margin-bottom: 8px;
		}
		.submitted {
			display: none;
			&.show{
				display: block;
			}
		}
		.failed {
			display: none;
			color: $red;
			margin: 24px 0;
		}
		.postcode-error {
			display: none;
			color: $red;
			font-weight: 500;
			margin-top:4px;
			margin-bottom: 0px;
		};
		form {
			label {
				display: block;
				&.error {
					color: $red;
					font-weight: 500;
					margin-top:4px;
				}
			}
			input, textarea {
				display: block;
				border: 1.5px solid #585858;
				border-radius: 4px;
				box-sizing: border-box;
				height: 48px;
				width: 100%;
				min-width: 200px;
				font-family: 'Graphik', sans-serif;
				font-size: 16px;
				padding: 12px;
				
				&:active, &:focus {
					border: 2px solid #071C53;
					outline: none;
				}
			}
			input {
				&.error {
					border: 1.5px solid $red;
				}
			}
			textarea {
				min-height: 104px;
				&.error {
					border: 1.5px solid $red;
				}
			}
			button {
				display: block;
				background-color: $green;
				border: 2px solid $green;
				padding: 11px 22px;
				font-family: 'Graphik', sans-serif;
				font-weight: 700;
				text-decoration-line: underline;
				border-radius: 4px;
				cursor: pointer;
				h4 {
					font-size: 18px;
					margin: 0;
					@media all and (min-width: $desktop-width) {
						font-size: 20px;
					}
				}
			}
			button:hover {
				background-color: #fff;
				box-shadow: 0px 4px 16px rgba(76, 48, 16, 0.16);
				border: 2px solid #fff;
			}
			button:focus {
				border: 2px solid #071C53;
				background: $green;
				outline: none;
			}
			button:active {
				background: $active-green;
				border: 2px solid $active-green;
				outline: none;
			}
			.checkbox-container {
				margin: 0;
				display: flex;
				align-items: center;
			}
			.checkbox {
				display: inline;
				height: 14px;
				width: 14px;
				min-width: auto;
				max-width: auto;
				margin: 0;
				cursor: pointer;
			}
			.checkbox-label {
				display: inline;
				padding: 16px 0px 16px 8px;
				margin: 0;
				cursor: pointer;
			}
		}
	}
}